* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(227, 206, 22);
}

.header {
    text-align: center;
}


.bayan {
    position: relative;
    margin-bottom: 3px;
    width: 80%;
    color: #fff;
    overflow: hidden;
}
.bayan input {
    position: absolute;
}
.bayan label {
    position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #f26215;
  font-weight: bold;
  line-height: 2;
  cursor: pointer;
}

.bayan_content {
    max-height: 0;
  overflow: hidden;

}

.bayan_image {
    height: 200px;
    width: 300px; ;
}

.bayan input:hover ~ .bayan_content {
    max-height: 100vh;
}
.bayan label :hover  {
    content: "+";
}